*.mo
config/*.php
.lazy.php
.sass-cache
cache/
*.log
*.rar
*.tar
*.tar.bz2
*.tbz
*.zip
*.jar
.DS_Store
.lazy.yml
build
build/
*SchemaProxy.php
*CollectionBase.php
*ModelBase.php
*.swp
manifest.php
/node_modules/
/vendor
/.asset-entries.*
/app/AppConfigLoader.php
/app/ConfigLoader.php
/app/AppKernel.php
/app/BaseKernel.php
/.maghead-cli.yml
/.php_cs.cache
/config/framework.yml
/config/database.yml
