<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnError="true"
  stopOnFailure="true"
  verbose="true">
  <testsuites>
    <testsuite name="All">
      <directory suffix="Test.php">Phifty</directory>
      <directory suffix="Test.php">bundles/crud</directory>
    </testsuite>
  </testsuites>
</phpunit>
