<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnError="true"
  stopOnFailure="true"
  verbose="true">
  <testsuites>
    <testsuite name="Phifty">
      <directory suffix="Test.php">Phifty</directory>
      <exclude>_old</exclude>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">Phifty</directory>
    </whitelist>
  </filter>

  <listeners>
    <listeners>
      <listener class="PHPUnit_Extensions_Selenium2TestCase_ScreenshotListener" file="PHPUnit/Extensions/Selenium2TestCase/ScreenshotListener.php">
        <arguments>
          <string>build/screenshots</string>
        </arguments>
      </listener>
    </listeners>
  </listeners>
</phpunit>
